<div class="container">

    <div class="row">
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
          <li><a href="/users">Users</a></li>
          <li><a href="/spots">Spots</a></li>
          <li><a href="/comments">Comments</a></li>
        </ul>
        <nav>
          <div class="nav-wrapper">
            <a href="/app" class="brand-logo">Home</a>
            <ul class="right hide-on-med-and-down">
              <li><a href="/maps">Google Map Search</a></li>
              <!-- Dropdown Trigger -->
              <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
          </div>
        </nav>

    </div>


    <div class="row">
        <div class="col m1">
            <a href="#" data-activates="slide-out" class="button-collapse">Profile</a>
            <ul id="slide-out" class="side-nav">
                <li>
                    <div class="user-view">
                      <div class="background">
                        <%= image_tag("office.jpg") %>
                      </div>
                      <a href="#!user"><%=image_tag("#{@current_user.image}" , class: "circle")%> </a>
                      <a href="#!name"><span class="white-text name">Welcome, <%=@current_user.name%></span></a>
                      <a href="#!email"><span class="white-text email"><%=@current_user.email%></span></a>
                    </div>
                </li>
                <li><a href="/users/<%=@current_user.id%>/edit"><i class="material-icons">Edit</i>Profile</a></li>
                <li><div class="divider"></div></li>
                <li><a class="subheader">Login/Logout</a></li>
                <li><%= link_to 'Logout', login_path, method: :delete , class: "waves-effect"%></li>
            </ul>
        <div>
    </div>
</div>
<script>
$(document).ready(function(){
     $(".button-collapse").sideNav();
   });
</script>
